<div class="card">
	<div class="card__menu menu">
		<div class="card__actions">
			<button class="card__btn btn">Back to list</button>
		</div>
	</div>
	<div class="container">
		<div class="card__content">
			<div class="card__header">
				<div class="card__title title">User profile</div>
				<button class="card__btn btn">Edit</button>
			</div>
			<form action="" class="card__form form-control">
				<div class="form-control__input">
					<label for="name">Name</label>
					<input type="text" id="name">
				</div>
				<div class="form-control__input">
					<label for="user- name">User name</label>
					<input type="text" id="user-name">
				</div>
				<div class="form-control__input">
					<label for="email">E-mail</label>
					<input type="email" id="email">
					<div class="validation"></div>
				</div>
				<div class="form-control__input">
					<label for="street">Street</label>
					<input type="text" id="street">
				</div>
				<div class="form-control__input">
					<label for="city">City</label>
					<input type="text" id="city">
				</div>
				<div class="form-control__input">
					<label for="code">Zip code</label>
					<input type="number" id="code">
				</div>
				<div class="form-control__input">
					<label for="phone">Phone</label>
					<input type="number" id="phone">
					<div class="validation"></div>
				</div>
				<div class="form-control__input">
					<label for="website">Website</label>
					<input type="text" id="website">
					<div class="validation"></div>
				</div>
				<div class="form-control__text">
					<label for="name">Comment</label>
					<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
				</div>
			</form>
			<div class="card__footer">
				<button class="card__btn btn">Send</button>
			</div>
		</div>
	</div>
</div>