<div class="home">
	<div class="home__menu menu">
		<div class="home__actions">
			<span>Sort:</span>
			<button class="home__btn btn">by city</button>
			<button class="home__btn btn">by company</button>
		</div>
	</div>
	<div class="container">
		<div class="home__list">
			<div class="home__title title">
				List of users
			</div>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
			<app-card></app-card>
		</div>
	</div>
</div>