<div class="home">
	<div class="home__menu menu">
		<div class="home__actions">
			<span>Sort:</span>
			<button class="home__btn btn" (click)="sortByCity()">by city</button>
			<button class="home__btn btn" (click)="sortByCompany()">by company</button>
		</div>
	</div>
	<div class="container">
		<div class="home__list">
			<div class="home__title title">
				List of users
			</div>
			<div class="home__cards" *ngIf="cards; else loading">
				<app-card *ngFor="let card of cards" [card]="card"></app-card>
			</div>

		</div>
	</div>
</div>

<ng-template #loading>
	<p style="text-align: center; font-size: 24px; font-weight: 700;">Loading...</p>
</ng-template>